/* HTML */
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

/* Universal Selector CSS */
* {
    margin: 0;
    padding: 0;
}

/* Body*/
body {
    background-color: white;
    margin: 0;
    min-height: 100%;
}

/* Page Content section*/
.page-content {
    display: grid;
}

/* Index Grid Areas*/
/**Mobile**/
@media (min-width:320px) {
    .page-content {
        grid-template-areas:
            "NavBar"
            "FrontPage"
            "Footer";
        grid-template-rows: 1.5fr 3.5fr 2fr;
        font-size: 1em;
        text-align: center;
    }
}

/**Tablet or Laptop**/
@media screen and (min-width:768px) {
    .page-content {
        grid-template-areas:
            "NavBar"
            "FrontPage"
            "Footer"
        ;
        grid-template-rows: 60px 4fr 2fr;
        font-size: 1em;
        text-align: center;
    }
}

/*Grid areas for #page-content section*/
.nav-bar {
    display: grid;
    size: 100%;
    grid-area: NavBar;
}

.front-page {
    display: grid;
    grid-area: FrontPage;
}

/*Grid areas for Services section*/
#data-analysis {
    display: grid;
    grid-area: data-analysis;

}

#web-development {
    display: grid;
    grid-area: web-development;
}


/* Header */
/**Nav-bar**/
.menu-1 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    size: 12fr;
}

.menu-1 a {
    color: darkslategrey;
    text-decoration: none;
}

.menu-1 .text:hover {
    text-decoration: underline;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    align-items: center;
    flex-direction: column;
}

header nav ul li {
    padding: 10px;
    align-items: center;
}


/*Grid areas for Nav bar*/
li .logo-nav-bar {
    grid-area: logo-header;
}

li .nav-bar-1 {
    grid-area: 1;
}

li .nav-bar-2 {
    grid-area: 2;
}

li .nav-bar-3 {
    grid-area: 3;
}

li .nav-bar-4 {
    grid-area: 4;
}

li .nav-bar-5 {
    grid-area: 5;
}

li .nav-bar-6 {
    grid-area: 6;
}

li .nav-bar-7 {
    grid-area: 7;
}

/**Nav bar Mobile**/

@media (min-width:320px) {

    .menu-1 {
        grid-template-areas:
            "logo-header 1 2 3"
            "4 5 6 7";
        grid-template-rows: repeat(2, 50px);
        grid-template-columns: repeat(4, 3fr);
        justify-items: center;
        align-items: center;
        font-size: 0.8em;
        text-align: center;

    }

    .menu-1 .text:hover {
        text-decoration: underline;
        font-weight: 450;
    }

    header .logo {
        width: 50px;
        height: 50px;
    }
}

/**Nav bar Tablet + Laptop**/
@media screen and (min-width:768px) {

    .menu-1 {
        grid-template-areas:
            "logo-header 1 2 3 4 5 6 7";
        grid-template-rows: 70px;
        grid-template-columns: repeat(8, 1.5fr);
        justify-items: center;
        align-items: center;
        font-size: 1.2em;
        text-align: center;
    }

    .menu-1 .text:hover {
        text-decoration: underline;
    }

    header .logo {
        width: 70px;
        height: 70px;

    }
}


/* Index main section */
/** For Mobile**/
@media (min-width:320px) {
    .img-container {
        height: 375.2px;
        text-align: inherit;
    }

    .img-container img {
        height: 375px;
        width: 320px;
        justify-content: space-around;
    }

    .text-frontpage {
        background-color: caf0f8;
        font-size: 1.3em;
        text-align: center;
        font-weight: 400;
        color: darkslategrey;
    }

    .text-frontpage:hover {
        font-weight: 500;
    }

    .front-page-image {
        height: 250px;
        width: 250px;
        justify-content: center;

    }

    /** For Tablet + Laptop**/
    @media screen and (min-width:768px) {
        .img-container {
            height: 750px;
            width: 750px;
            justify-content: center;
        }

        .img-container img {
            height: 600px;
            width: 600px;
            justify-content: space-around;
        }

        .text-frontpage {
            background-color: caf0f8;
            font-size: 40px;
            text-align: center;
            font-weight: 350;
            color: darkslategrey;
        }

        .front-page {
            height: 90vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    /*Services Page*/
    /**Table or Phone**/
    @media (min-width:320px) {

        .front-page-services {
            display: grid;
            grid-template-areas:
                "NavBar"
                "data-analysis"
                "web-development"
                "Footer";
           grid-template-rows: 0.5fr 2fr 2fr 1fr;
            height: fit-content;
        }

        .front-page-services p {
            font-size: 0.5em;
            text-align: justify;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            flex-wrap: wrap;
        }

        .front-page-services h1 {
            font-size: 0.9em;
            text-align: center;
            color: darkslategrey;
        }

        .front-page-services h3 {
            font-size: 0.70em;
            text-align: justify;
        }

        div .chart-examples {
            padding-left: 25px;
            padding-right: 25px;
            size: 10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            column-gap: 10px;
            row-gap: 15px;
            justify-items: center;
            align-items: stretch;
        }

        .data-analysis__class {
            margin-bottom: 10px;
        }

        .web-development__class {
            margin-top: 10px;
        }

        .data-analysis {
            margin: 10px;
        }

        .chart-images {
            height: 60px;
            width: 90px;
        }

        .website-example {
            margin-left: 30px;
            font-size: 0.75em;
        }

        .website-example .text:hover {
            color: purple;
        }

        .web-development {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }

    /** Desktop o Laptop**/
    @media screen and (min-width:768px) {

        .front-page-services {
            display: grid;
            grid-template-areas:
                "NavBar"
                "data-analysis"
                "web-development"
                "Footer";
            grid-template-rows: 80px 3fr 3fr 2fr;
            height: 100vh;

        }

        .front-page-services p {
            font-size: 1em;
            text-align: justify;
            padding-left: 80px;
            padding-right: 80px;
            display: flex;
            flex-wrap: wrap;
        }

        .front-page-services h1 {
            font-size: 1.5em;
            text-align: center;
            color: darkslategrey;
        }

        .front-page-services h3 {
            font-size: 1.5em;
            text-align: justify;
        }

        div .chart-examples {
            padding-left: 80px;
            padding-right: 80px;
            size: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
        }

        .data-analysis__class {
            margin-bottom: 20px;
        }

        .web-development__class {
            margin-top: 20px;
        }

        .chart-images {
            height: 125px;
            width: 180px;
        }

        .website-example {
            margin-left: 100px;
        }

        .web-development {
            margin-top: 30px;
            margin-bottom: 10px;

        }
    }


    .data-analysis {
        margin-bottom: 10px;
    }

    .container-frontpage {
        position: relative;
        display: flex;
        text-align: center;
    }

    .text-frontpage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-frontpage-about-me__text p {

        grid-area: title-about-me;
    }

    h3 {
        padding-left: 100px;
        padding-right: 100px;
        color: darkslategrey;

    }


    /**About me**/


    /*Footer **/
    footer {
        padding: 10px;
        height: 150px;
    }

    footer .copyright {
        margin-top: 10px;
        text-align: center;
    }

    .footer-content {
        grid-area: Footer;
        display: grid;
    }

    /**Footer Mobile**/
    @media (min-width:320px) {
        footer .contact {
            margin-top: 10px;
            text-align: center;
            font-size: 0.7em;
        }

        .social .fa-linkedin-square:before {
            font-size: 15px;
        }

        .social .fa-envelope-square {
            font-size: 15px;
        }

        .back-to-top .fa-arrow-up {
            font-size: 15px;
        }

        .fa:hover {
            color: #48cae4;
        }

        div .copyright {
            font-size: 0.5em;
        }

        .e-mail:hover {
            font-weight: 500;
            background-color: #caf0f8;
        }

        footer .back-to-top {
            text-align: center;
            color: #0096c7;
        }

        footer .social {
            text-align: center;
            color: #0096c7;
        }
    }

    /**Footer Tablet + Laptop**/
    @media screen and (min-width:768px) {
        footer .contact {
            margin-top: 20px;
            text-align: left;
            font-size: 0.9em;
        }

        .social .fa-linkedin-square:before {
            font-size: 30px;
        }

        .social .fa-envelope-square {
            font-size: 30px;
        }

        .back-to-top .fa-arrow-up {
            font-size: 25px;
        }

        .fa:hover {
            color: #48cae4;
        }

        div .copyright {
            font-size: 0.7em;
        }

        .e-mail:hover {
            font-weight: 500;
            background-color: #caf0f8;
        }

        footer .back-to-top {
            text-align: right;
            color: lightskyblue;
        }

        footer .social {
            text-align: right;
            color: lightskyblue;
        }
    }
}

.card1 {
    grid-area: card1;
    justify-self: center;
}

.card2 {
    grid-area: card2;
    justify-self: center;

}

.card3 {
    grid-area: card3;
    justify-self: center;

}

.card4 {
    grid-area: card4;
    justify-self: center;

}

.card5 {
    grid-area: card5;
    justify-self: center;

}

.card6 {
    grid-area: card6;
    justify-self: center;

}

.front-page-blog {
    display: grid;
    grid-area: front-page-blog;
}

/**Blog**/

.blog-content h1{
    text-align: center;
    color: darkslategrey;
    margin:10px;
}
@media (min-width:320px) {

    .blog-content {
        display: grid;
        grid-template-areas:
            "NavBar"
            "front-page-blog"
            "Footer"
        ;
        grid-template-columns: 12fr;
        grid-template-rows: 0.75fr 2.75fr 1.1fr;
    }

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .cards {
        display: grid;
        grid-template-areas: "card1 card2"
            "card3 card4"
            "card5 card6";
        grid-template-columns: repeat(2, 4fr);
        grid-template-rows: repeat(3, 4fr);
        margin-top: 30px;
        column-gap: 25px;
        row-gap: 25px;
    }


    .flip-card {
        background-color: transparent;
        width: 80px;
        height: 80px;
        border: 1px solid #f1f1f1;
        perspective: 100px;

        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 80px;
        height: 80px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 80px;
        height: 80px;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
        justify-self: center;

    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: lightskyblue;
        color: white;
        transform: rotateY(180deg);
        justify-self: center;
    }

    .flip-card-back h1 {
        font-size: 0.75em;
        text-decoration: underline;
    }

    .flip-card-back h1:hover {
        color: #0077b6;
    }

    .flip-card-back p {
        font-size: 0.6em;
        text-align: justify;
    }

    .flip-card-front img {
        height: 80px;
        width: 80px;
    }

}

@media screen and (min-width:768px) {

    .blog-content {
        display: grid;
        grid-template-areas:
            "NavBar"
            "front-page-blog"
            "Footer"
        ;
        grid-template-columns: 12fr;
        grid-template-rows: 105px 450px 200px;

    }

    .cards {
        display: grid;
        grid-template-areas: "card1 card2 card3"
            " card4 card5 card6";
        grid-template-columns: repeat(3, 4fr);
        grid-template-rows: repeat(2, 4fr);
        margin-top: 10px;
        column-gap: 25px;
        row-gap: 25px;
        align-items: center;
        justify-content: center;
        justify-self: stretch
    }

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
        background-color: transparent;
        width: 180px;
        height: 180px;
        /*       border: 1px solid #f1f1f1;*/
        perspective: 180px;
        align-items: center;
        align-content: center;

        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 180px;
        height: 180px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 180px;
        height: 180px;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: lightskyblue;
        color: white;
        transform: rotateY(180deg);
    }

    .flip-card-back p {
        font-size: 0.9em;
        text-align: justify;
    }

    .flip-card-back h1:hover {
        color: #0077b6;
    }

    .flip-card-back h1 {
        font-size: 1.1em;
        text-decoration: underline;
    }

    .flip-card-front img {
        height: 180px;
        width: 180px;
    }
}



/** About Me **/

.front-page-profile-photo {
    grid-area: profile-photo;
    display: grid;
}

.text-frontpage-about-me {
    grid-area: text-about-me;
}
.text-frontpage-about-me__text {
    grid-area:about-me__text ;
}
.container-about-me {
    grid-area: container-about-me;
    display: grid;
}
.about-me-content {
    display: grid;
}

@media (min-width:320px) {
    .about-me-content{
    grid-template-areas: 
    "NavBar"
    "container-about-me"
    "Footer"
    ;
    grid-template-columns: 12fr;
    grid-template-rows: 0.6fr 4fr 1.1fr;
}


    .front-page-profile-photo {
        height: 200px;
        width: 200px;
        color: darkslategrey;
justify-self: center;  
margin-top: 20px;
}


    .container-about-me {
        margin-top: 10px;
        justify-content: space-around;
        grid-template-areas: 
        "text-about-me"
        "about-me__text"
        "profile-photo"
        ;
        grid-template-columns: 80%;
        grid-template-rows: 10px, 100px, 100px;
    }

    .container-about-me p {
        font-size: 0.7em;
        width: 100%;
        color: darkslategrey;
        text-align: justify;

    }
    .container-about-me h2 {
        font-size: 0.9em;
        color: darkslategrey;
        text-align: center;
    }
}
@media screen and (min-width:768px) {
    .about-me-content{
    grid-template-areas: 
    "NavBar"
    "container-about-me"
    "Footer"
    ;
    grid-template-columns: 12fr;
    grid-template-rows: 105px 450px 190px;
}

    .front-page-profile-photo {
        height: 300px;
        width: 300px;
        align-items: flex-end;
    }

    .container-about-me {
      margin-top: 10px;
        justify-content: space-around;
        grid-template-areas: 
        "text-about-me profile-photo"
        "about-me__text profile-photo"
        ;
        grid-template-columns: 70% 20%;
        grid-template-rows: 10% 90%;

    }

    .container-about-me p {
        font-size: 1em;
        width: 100%;
        color: darkslategrey;
        text-align: justify;
        justify-content: center;
        margin-left: 5px;
    }
    .container-about-me h2 {
        font-size: 1.25em;
        color: darkslategrey;
        text-align: center;
    }
}

/** CONTACT PAGE **/

.contact-page {
    display: grid;
}
.form {
    grid-template-areas: contact-form;
    display: grid;
    padding: 25px;

}


@media (min-width:320px) {
    .contact-page{
        grid-template-areas: 
        "NavBar"
        "form"
        "Footer"
        ;
        grid-template-columns: 12fr;
        grid-template-rows: 0.6fr 3.4fr 1.2fr;
}
.send-button {
font-size: 1em;
}

.send-button:hover{
    background-color: #0096c7;
    color: white;
    border: white;
}
.form{
    font-size: 0.8em;
    margin-top: 50px;
    margin-bottom: 50px;
}
input {
    font-size: 0.8em;
}
label {
    font-size: 0.8em;
}
legend {
    font-size: 1.1em;
}
select {
    font-size: 0.9em;
}

}
@media screen and (min-width:768px) {
    .contact-page{
        grid-template-areas: 
        "NavBar"
        "form"
        "Footer"
        ;
    grid-template-columns: 12fr;
    grid-template-rows: 105px 500px 190px;
}
.send-button {
font-size: 1.2em;
}

.send-button:hover{
    background-color: lightskyblue;
    color: white;
    border: white;
}
.form{
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}
input {
    font-size: 1.1em;
}
label {
    font-size: 1.1em;
}
select {
    font-size: 1.2em;
}
legend {
    font-size: 1.4em;
}

}

/**PORTFOLIO**/

.portfolio-page {
    display: grid;
}
.portfolio-front-page {
    grid-area:portfolio-front-page ;
    text-align: center;
}

@media (min-width:320px) {
    .portfolio-page{
        grid-template-areas: 
        "NavBar"
        "portfolio-front-page"
        "Footer"
        ;
        grid-template-columns: 12fr;
        grid-template-rows: 0.6fr 3fr 1.2fr;
}
.portfolio-front-page {
margin-top: 100px;
}

.portfolio-container h2 {
    font-size: 1.1em;
    color: darkslategrey;
}
.portfolio-container li {
    font-size: 0.9em;
    color: darkslategrey;
}
.portfolio-container h2:hover {
    text-decoration: underline;
}
.portfolio-link:hover {
    color: #3a86ff;
}
}
@media screen and (min-width:768px) {
    .portfolio-page{
        grid-template-areas: 
        "NavBar"
        "portfolio-front-page"
        "Footer"
        ;
    grid-template-columns: 12fr;
    grid-template-rows: 105px 500px 190px;
}
.portfolio-front-page {
    margin-top: 100px;
    }
    
    .portfolio-container h2 {
        font-size: 1.4em;
        color: darkslategrey;
    }
    .portfolio-container li {
        font-size: 1.2em;
        color: darkslategrey;
    }
    .portfolio-container h2:hover {
        text-decoration: underline;
    }
    .portfolio-link:hover {
        color: #264653;
    }

}