/**PORTFOLIO**/

.portfolio-page {
    display: grid;
  }
  .portfolio-front-page {
    grid-area:portfolio-front-page ;
    text-align: center;
  }

/**PORTFOLIO for phone or tablet**/

  @media (min-width:320px) {
    .portfolio-page{
        grid-template-areas: 
        "NavBar"
        "portfolio-front-page"
        "Footer"
        ;
        grid-template-columns: 12fr;
        grid-template-rows: 0.6fr 3fr 1.2fr;
        @include page-height; 
  }
  .portfolio-front-page {
  margin-top: 100px;
  }
  
  .portfolio-container h2 {
    font-size: 1.1em;
    color: $text-color;
    &:hover {
      @include hover-text-decoration;
      color: $hover-mobile;
  }
}
  .portfolio-container li {
    font-size: 0.9em;
    color: $text-color;
}
.portfolio-link:hover {
    color:$hover-mobile;
  }
}

/**PORTFOLIO for desktop**/
@media screen and (min-width:768px) {
    .portfolio-page{
        grid-template-areas: 
        "NavBar"
        "portfolio-front-page"
        "Footer"
        ;
    grid-template-columns: 12fr;
    grid-template-rows: 105px 500px 190px;
    @include page-height; 
  }
  .portfolio-front-page {
    margin-top: 100px;
    }
    
    .portfolio-container h2 {
        font-size: 1.4em;
        color: $text-color;
        &:hover {
          @include hover-text-decoration;
          color: $hover-desktop;
        }
    }
    .portfolio-container li {
        font-size: 1.2em;
        color: $text-color;
    }
    .portfolio-link:hover {
        color: $hover-desktop;
    }
}